{% extends "layout.html" %}

{% block title %}
    homepage
{% endblock %}

{% block main %}
    
    <div class="image-container">
        {% for item in data %}
            <div class="image-item">
                <a href="/jeu?name={{ item[0] }}&b={{ 'B' if b else 'NB' }}">
                    <img src="{{ item[1] }}" alt="{{ item[0] }}" class="img-fluid rounded width gamepicture">
                </a>
                <p><strong style="color: darkgreen;">{{ item[0] }}</strong></p>
            </div>
        {% endfor %}
    </div>

{% endblock %}
